@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto+Condensed:ital,wght@0,300;1,700&display=swap');
:root {
   --light-pink:#fb7185;
   --pink-rose:#fecdd3;
   
}

body {
    
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to left,#fb7185,#fecdd3);
    
}

.container {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    max-width: 45%;
    margin: 5px;
    padding: 15px 50px;
    color:black;
}

button {
    cursor: pointer;
    background-color: var(--pink-rose);
    color: black;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 50%;
}

input, label, table caption {
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem;
}

#cash-given, #bill-amount {
    padding: 0.5rem 1rem;
    font-size: medium;
}

table {
    border-spacing: 2px;
    text-align: center;

}

.table-container {
    width: 100%;
}
th, td {
    border: 1px solid;
    word-wrap: break-word;
    padding: 0.1rem;
    
}